
$themecolor: #B557BF; 
$primary_color: #444FA1; 
$bg_light:#f4f5fe;
$title_color:#313131;
$text_color:#171A1F;
$black:#000;
$body_font: "DM Sans", sans-serif;
$primary_font:"DM Sans", sans-serif;
$transition: all 0.5s ease-out 0s;
//$grd:linear-gradient(to right, #12397b 0%, #1D5CC8 50%, #12397b 100%);

$grd:linear-gradient(to right, #1D5CC8 0%, #12397b 50%, #1D5CC8 100%);
    
   
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1, h2, h3, h4, h5 {
    font-family: $primary_font
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  outline:none
}

a {
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

img {
  max-width: 100%;
}

a {
    color:#333
}

.o_hiden {
    overflow: hidden
}

.theme_color {
    color: $themecolor
}

.primary_color {
    color: $primary_color
}

::-webkit-scrollbar {
width: 10px;
height:5px;
cursor: pointer;
}
::-webkit-scrollbar-track {background-color:#ccc ;}
::-webkit-scrollbar-thumb {width:30px;background-color: #aaa;}

::selection {
	background: #333;
	color: #fff;
}
::-moz-selection {
background: #333;
	color: #fff;
}

@media (max-width:575px) {
    .container, .container-fluid {
        padding-left: 20px; padding-right: 20px;
    }
}


body {
  color: $text_color;
font-family: $body_font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;

}

.row_reverse {
    flex-direction: row-reverse
}

.align_items_center {
  display: flex;
  align-items: center;
}

.display_flex {
    display: flex
}

.justify_content_center {
    justify-content: center
}


@media (min-width:1200px) {
  .m_30{
    margin: 0 -30px;
    [class*='col-'] {
      padding: 0 30px;
    }
  }
}

@media (min-width:1200px) {
  .m_20{
    margin: 0 -20px;
    [class*='col-'] {
      padding: 0 20px;
    }
  }
}

@media (min-width:1250px) {
  .m_40{
    margin: 0 -40px;
    [class*='col-'] {
      padding: 0 40px;
    }
  }
}




.body_wraper {
  width: 100%; display: flex; flex-direction: column
}

.pos_inherit {
    position: inherit !important
}

.pinter_event_none {
    pointer-events: none
}



.header_sec {
	background: transparent;
    width: 100%; position: absolute; top: 0; left: 0;
   padding: 15px 0; display: flex; height: 80px; align-items: center;
	z-index: 100;
   // transition: background .2s ease;
	
}

.header_sec.header-active {
    background: #fff;
    position: fixed; 
    box-shadow: (0 2px 4px rgba(8,69,23,.1));
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


.logo {
    display: flex; height: 100%; align-items: center;
	a{
		display: inline-block;
		img {
			width: 165px
		}
       
	}
}


.logo-dark {
    display: none
}
.header-active {
    .logo-dark {
    display: inline-block
}
    .logo-white {
    display: none
}

    
}


.header_in {
    display: flex;  height: 100%; 
    justify-content: space-between; align-items: center
}


.header_right {
    display: flex; justify-content: flex-end; height: 100%;
    
    .theme_btn {
        margin: 0; padding: 8px 20px 10px ;
        &:before {
            display: none;
        }
        
        background-image: none;
        background: #57B555;
        
        &:hover {
            background: $themecolor;
        }
        
        i {
            width: 20px;
    height: 20px;
    background: url("../images/wchat.svg") no-repeat center;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 3px;
            margin-right: 5px;
        }
    }
}

 


@media (max-width:575px) {
    .logo a img {
        width: 110px
    }
    
    .header_right .theme_btn{
        padding: 7px 10px 9px 15px; font-size: 14px;
        
        svg {
            width: 18px; height: 18px
        }
    }
    .header_sec {
       height: 70px 
    }
}


    


 


.site_title {
    font-size:50px; font-weight: bold;
    color:$title_color;
    line-height: 1.2; 
    margin-bottom: 15px
}

//@media (min-width:1400px) {
//    .site_title {
//       font-size: 50px
//    }
//}


@media (max-width:1199px) {
    .site_title {
       font-size: 40px
    }
}

 

@media (max-width:575px) {
    .site_title {
       font-size: 33px; line-height: 1.3
    }
}


.theme_btn {
	display: inline-block;

   background: $themecolor;
    padding: 10px 35px 10px;
    margin-top: 15px; 
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 7px;
    position: relative;
    z-index: 1;
    transition: $transition;
 
    svg {
        width: 20px; height: 20px; position: relative; top: -1px
    }
}

.theme_btn:hover { 
  background: $primary_color;
color: #fff;
    
}

.btn_link {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    color: $themecolor;
    
    &:hover {
        color: $primary_color
    }
    
    span {
        display: inline-block;
        width: 22px; height: 22px;
        background: $themecolor;
        border-radius: 50%;
        text-align: center; line-height: 22px;
        color: #fff; font-size: 10px;
        vertical-align: middle; 
        margin-left: 10px;
    }
    
}


.comn_img_block {
    overflow: hidden; position: relative;
    img {
        position: absolute;
        left: 0; top: 0;
        object-position: center; 
        object-fit: cover;
        width: 100%; height: 100%
    }
}




.swiper_normal {
    .swiper-container {
    overflow: hidden;
    position: relative;
}
}



.swiper_btn {
    
    .swiper-button-next, .swiper-button-prev {
        width: 50px; height: 50px;
        border-radius: 50%; 
        background: #fff;
        text-align: center;
        line-height: 50px; 
        color: $themecolor; 
        font-size: 27px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.35);
        transition:$transition ;
        &:after {
            display: none
        }
        &:hover {
            background: #fff; color: $primary_color;
            svg {
                stroke:$primary_color
            }
        }
        
        i {
            display: block
        }
        
        svg {
            width: 36px; height: 36px;
                 transition:$transition ;
        }    
        
    }
   
    
}




.swiper_scrollbar {
    .swiper-scrollbar-drag {
        background: $themecolor
    }
}

.swiper_scrollbar {

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 3px; width: 100%; position: static; margin: 40px 0 0
}

}
 
 .swiper_pagination {
    .swiper-pagination {
        position: relative; top: auto; bottom: auto;
        margin: 20px 0 0
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 3px; 
        
    }
     
     .swiper-pagination-bullet {
         width: 12px; height: 12px;
         background: $themecolor
     }
     
    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        opacity: .5
    }
     .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 30px; border-radius: 10px
    }
}


.hero_area {
    background: #fff;
    padding: 120px 0;
    position: relative; z-index: 1;
    overflow: hidden;
    
    &:before {
        content: "";
        left: 0; bottom: 0; width: 100%;
        position: absolute;
        height: 60px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1),);
        z-index: -1;
    }
 
     .hero_btm_shape {
        position: absolute ; 
         left: 0; bottom: 0;

        width: 100%;  
       
        z-index: -2;
         img {
             width: 100%; pointer-events: none
         }
    }
    
    
    .sec_left {
        padding-top: 50px;
        p {
           font-size: 24px; color: #545454; font-weight: 600; margin: 10px 0 20px;
        }
       .site_title {
    font-size: 60px; margin: 0
}
        
    }
    
    .sec_right {
        .form_sec {
            background: #fff;
            padding: 40px;
            border-radius: 10px;
            border:1px solid rgba(0,0,0,0.10);
           // box-shadow: 0 30px 60px rgba(0,0,0,0.10);
            box-shadow: 0 35px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
        }
        
        .site_title {
            font-size: 33px; font-weight: 900; margin: 0 0 5px;
              background: -webkit-linear-gradient($themecolor, $primary_color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
        }
        
        .theme_btn {
            min-height: 60px; 
        }
    }
    
    
    
}

 
 
.hero_feature_area {
    width: 90%;
    ul {
        display: flex; margin: 0 -15px;
        flex-wrap: wrap;
        li {
            width: 30%;
            padding: 0 15px
        }
        
        .hf_item {
            h6 {
                font-size: 18px;
                color: $text_color;
                line-height: 1.3; margin: 0;
                span {
                    font-size: 24px; color: $themecolor; 
                    display: block; font-weight: bold; margin-bottom: 5px;
                }
            }
        }
    }
}


 
@media (min-width:1400px) {
    
    .hero_area .hero_btm_shape {
        bottom: -70px
    }
}

 



@media (max-width:1199px) {
    
    .hero_area {
        .sec_left {
            .site_title {
                font-size: 50px
            }
        }
    }
    .hero_feature_area {
        width: 100%
    }
   
    .hero_feature_area ul li {
        width: 33.3%
    }
    .hero_feature_area ul .hf_item h6 {
        font-size: 16px
    }
    
    .hero_area .sec_right .form_sec {
        padding: 40px 30px; 
        p {
            font-size: 16px
        }
    }
     
}


@media (max-width:991px) {
    
    .hero_area .sec_left   {
      text-align: center; padding-bottom: 60px
    }
    
    .hero_area .sec_right .form_sec {
        .title_row {
            text-align: center
        }
    }
    
    .hero_feature_area ul li .hf_item{
        box-shadow: 0 5px 30px rgba(0,0,0,0.25);
        border-radius: 15px; 
        padding: 40px 15px; background: #fff
    }
    
    .hero_area .sec_left p {
        margin-bottom: 40px
    }
    .hero_area .sec_right .form_sec p {
        font-size: 20px; line-height: 1.3; margin-bottom: 30px
    }
}



@media (max-width:767px) {
    
    .hero_feature_area ul li {
        width: 50%
    }
      .hero_feature_area ul 
    {
        justify-content: center
    }
    .hero_feature_area ul li .hf_item {
        margin-bottom: 30px
    }
    
    .hero_area .hero_btm_shape {
        overflow: hidden;
        height: 175px;
        img {
            width: 1000px; max-width: 1000px;
            position: absolute;
            left: 50%; transform: translateX(-50%)
        }
    }
}



@media (max-width:575px) { 


    .hero_area .sec_left {
        p {
            font-size: 20px
        }
    }
    
    .hero_area .sec_left .site_title {
        font-size: 33px
    }
    
    .hero_area {
        padding: 70px 0 60px
    }
    .hero_area .sec_left  {
        padding-bottom: 40px
    }
    .hero_feature_area ul .hf_item h6 span {
        font-size: 22px
    }
}



 


.tools_sec {
    padding: 0px 0 100px;
    position: relative; z-index: 1;
    overflow: hidden;
    
    .bg_left {
       position: absolute; left: -83px ; top: 0;
        z-index: -1
    }
    
     .bg_right {
        position: absolute; right: -83px; top: 0;
        z-index: -1  
    }
    
    .title_row {
        margin-bottom: 40px;
    }
    
    .tools_list_item {
        border-radius: 20px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.17);
        padding: 15px 30px;
        background: #fff;
        display: flex;  align-items: center;
        min-height: 120px;
        z-index: 1; position: relative;
        overflow: hidden;
        margin-bottom: 40px; 
        
          &:before {
            content: "";
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
             background-image: linear-gradient(to bottom, $themecolor, $primary_color);
            opacity: 0;
            transition: $transition
        }
       
        >div {
            display: flex; align-items: center; 
        }
        
        .tools_title {
            flex: 1; 
            padding-left: 15px;
            
            h6 {
                font-size: 26px;
                line-height: 1.2;
                font-weight: 600;
                color: $text_color;
                margin: 0;
                transition: $transition;
                span {
                    font-weight: 600; display: block
                }
                
            }
        }
        
        .tools_icon {
            
          position: relative; 
            width: 70px; height: 70px;
          span {
                width: 100%; height: 100%;
                display: block; 
                position: absolute; 
                left: 0;
                top: 0; 
              border-radius: 50%;
              background-color: $themecolor;
                transition: $transition;
              
            }
            
            span.ticon_hover {
                opacity: 0
            }
            
            
        }
        
        .tools_icon.accounting_icon {
            span.ticon_normal {
                background-image: url("../images/sap/accounting.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
            }
      span.ticon_hover {
              background-image: url("../images/sap/accounting-h.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
        background-color: #fff;  
                 
            }
            
            
        }
        
      
       
        
         .tools_icon.inventory_icon {
         span.ticon_normal {
                background-image: url("../images/sap/inventory.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 35px;
            }
    span.ticon_hover {
              background-image: url("../images/sap/inventory-h.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
        background-color: #fff;  
                 
            }
            
        }
        
         .tools_icon.production_icon {
            span.ticon_normal {
                background-image: url("../images/sap/production.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
            }
    
            span.ticon_hover {
              background-image: url("../images/sap/production-h.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
        background-color: #fff;  
                 
            }
        }
        
        .tools_icon.crm_icon {
            span.ticon_normal {
                background-image: url("../images/sap/crm.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
            }
    span.ticon_hover {
              background-image: url("../images/sap/crm-h.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
        background-color: #fff;  
                 
            }
            
        }
        
         .tools_icon.management_icon {
            span.ticon_normal {
                background-image: url("../images/sap/management.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 35px;
            }
    span.ticon_hover {
              background-image: url("../images/sap/management-h.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
        background-color: #fff;  
                 
            }
            
        }
        
         .tools_icon.purchasing_icon {
            span.ticon_normal {
                background-image: url("../images/sap/purchasing.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
            }
    span.ticon_hover {
              background-image: url("../images/sap/purchasing-h.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
        background-color: #fff;  
                 
            }
            
        }
        
         .tools_icon.project_icon {
            span.ticon_normal {
                background-image: url("../images/sap/project.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 35px;
            }
    
          span.ticon_hover {
              background-image: url("../images/sap/project-h.svg")  ;
                background-repeat: no-repeat;
                background-position: center;
            background-size: 40px;
        background-color: #fff;  
                 
            }  
        }
        
     
       &:hover {
            .tools_icon span.ticon_normal {
                opacity: 0
            }
            .tools_icon span.ticon_hover {
                opacity: 1
            }
            &:before {
                opacity: 1
            }
             .tools_title h6 {
                color: #fff
            }
        }
        
    }
    
}

 



@media (max-width:991px) {
    .tools_sec .bg_left, .tools_sec .bg_right {
        
        top: 50%;
        transform: translateY(-50%);
        
        
        img {
            width: 200px
        }
    }
    
    .tools_sec .tools_list_item .tools_title h6 {
        font-size: 22px
    }
    
}



@media (max-width:767px) {
    .tools_sec .tools_list_item .tools_title h6 {
        font-size: 20px
    }
    .tools_sec .tools_list_item>div {
        display: block; text-align: center
    }
    
    .tools_sec .tools_list_item .tools_icon {

        margin: auto auto 15px
    }
    
    .tools_sec .tools_list_item {
        padding: 25px 15px; min-height: auto; justify-content: center
            
    }
    
    .tools_sec .tools_list_item .tools_title {
        padding: 0
    }
}



@media (max-width:575px) {
    
    
    .tools_sec .tools_list_item .tools_title {
        h6 {
            font-size: 20px
        }
    }
    
     
    .tools_sec .tools_list_item .tools_icon {
    
        margin-bottom: 10px
        
    }
    
    .tools_sec {
        padding: 20px 0 50px
    }
    
    .tools_sec .tools_list_item {
        width: 280px; margin-left: auto; margin-right: auto
    }
    
    .tools_sec .bg_left {
        top: 5%; transform: translate(0)
    }
    .tools_sec .bg_right {
        top: auto;
        bottom: 0
    }
}

 


.tech_sec {
      overflow: hidden; 
    
    .swiper_wrap {
        position: relative;
      
        
    }
    
    .site_title {
       margin-bottom: 50px
    }
    
    .tech_item_outer {
         background-image: linear-gradient(to bottom right, $themecolor, $primary_color);
        padding: 1px;
        border-radius: 30px;
        
        .tech_item {
                  background-image: linear-gradient(to bottom, #E5C4E9, #EFDBF1);
             border-radius: 30px;
            text-align: center;
            padding: 25px 5px
        }
    }
    
}

 

@media (max-width:575px) {
    .tech_sec {
     
        .site_title {
            margin-bottom: 30px
        }
     
}

}


 

.bult_sec {
    li {
        padding-left: 35px;
        position: relative;
        margin-bottom: 10px;
        
        &:before {
            content: "\f00c";
            position: absolute;
            left: 0; 
            top: 0;
            font-family: "Font Awesome 6 Free";
            font-weight: 600
            
        }
    }
}



 



.support_to_students_sec {
    padding: 110px 0 0px;
    
    .site_title {
         margin-bottom: 50px
    }
    
    .sec_left {
        ul {
            li {
                padding:15px 20px;
                background: #EDDAEF;
                color: #65676A; margin-bottom: 15px;
                font-family: $primary_font; border-radius: 7px;
                font-weight: bold; border: 1px solid #EBE6E6
            }
        }
    }
    
    .sec_right {
        
        .guid_row{
            margin-bottom: 30px;
             h5 {
            font-weight: bold; 
            line-height: 1.5; 
            color: $text_color;
            font-size: 20px; margin-bottom: 15px;
        }
        ul {
            li {
                
                padding-left: 40px;
                position: relative;
                margin-bottom: 10px;
                font-family: $primary_font;
                line-height: 1.5;
                &:before {
                    content: "";
                    left: 0; top: 5px;
                    position: absolute;
                    width: 20px; 
                    height: 20px;
                    background: url("../images/check-circle.svg") no-repeat center;
                    background-size: contain
                        
                }
            }
        }
        }
       
    }
    
}


@media (max-width:991px) {
    
    .support_to_students_sec {
        .sec_left {
            margin-bottom: 40px
        }
    }
}


@media (max-width:575px) {
    
    .support_to_students_sec {
       padding: 60px 0 0
    }
    .support_to_students_sec .site_title {
        margin-bottom:20px; text-align: center
    }
}


.placement_area {
    padding: 0px 0 80px; overflow: hidden;
    
    .site_title {
        color: $themecolor;
        position: relative;
        z-index: 1;
        text-align: center; display: block; 
        margin-bottom: 50px;
      
        &:before {
            content: ""; 
            position: absolute;
            left: 0; top: 50%;
            transform: translateY(-50%);
            width: 100%; height: 1px;
            background: $themecolor;
            opacity: .7;
            z-index: -1;
            
        }
        span {
            display: inline-block;
            background: #fff; padding: 0 15px;
        }
        
    }
    
    
    .swiper_wrap {
        position: relative;
        overflow-x: 1;
        &:before{
            content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    top: 30px;
    left: -50px;
    background-color: #D4D8E1;
    border-radius: 130px;
    z-index: -1;
    filter: blur(15px);
 
        }
         &:after{
            content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 30px;
    right: -50px;
    background-color: #E1BBE5;
    border-radius: 130px;
    z-index: -1;
    filter: blur(15px);
  
        }
    }
    
    .swiper_btn {
        .swiper-button-next,  .swiper-button-prev {
              margin-top: -50px
        }
      
    }
    
}

@media (min-width:1400px) {
    .placement_area .swiper_btn {
        .swiper-button-next,  .swiper-button-prev {
            width: 70px; height: 70px;
            background: transparent; box-shadow: none;
            
            svg {
                width: 66px; height: 66px
            }
            &:hover {
                color: $themecolor
            }
        }
        
        .swiper-button-next {
            right: -85px
        }
        
        .swiper-button-prev {
            left: -85px
        }
    }
}



@media (max-width:991px) {
    .placement_area .swiper_btn .swiper-button-next, .placement_area .swiper_btn .swiper-button-prev {
        display: none !important
    }
}


@media (max-width:575px) {
   .placement_area .swiper_pagination .swiper-pagination {
         display: none !important
    }
    
    .placement_area .site_title {
        margin-bottom: 30px
    }
    .placement_area {
        padding-bottom: 60px
    }
    
    .placement_area .swiper_wrap:before, .placement_area .swiper_wrap:after {
        width: 120px; height: 120px
    };
    
    .placement_area .swiper_wrap:after  {
        right: 50px; bottom: -30px;
    }
    
}



.footer_sec {
    background-image: linear-gradient(to right, $themecolor, $primary_color);
    color: #fff; font-weight: 300;
    
    a {
        color: #fff;
        &:hover {
            color: #bdd5ff
        }
    }
    
    
    
    .footer_main {
        border-top: 1px solid rgba(255,255,255,0.4);
        border-bottom: 1px solid rgba(255,255,255,0.4);
        padding: 70px 0 20px; 
        margin-top: 80px;
    }
    
    .footer_widget  {
        margin-bottom: 50px; width: 100%
    }
    
    
    .footer_logo {
        img {
            width: 180px
        }
    }
    
    .footer_contact_info {
        margin-bottom: 20px;
        ul {
            
            li {
               padding-left: 30px;
                position: relative;
                margin-bottom: 10px;
                i {
                    position: absolute; left:0; top: 4px
                }
                
            }
        }
    }
    
    .social_links {
        ul {
            li {
                display: inline-block; margin-right: 30px; 
                &:last-child {
                    margin: 0
                }
                
                a {
                    padding: 5px 0; display: inline-block; font-size: 26px;
                }
            }
        }
    }
    
    .footer_nav {
        ul {
            li {
                display: inline-block; 
                 margin-right: 20px; 
                &:last-child {
                    margin: 0
                }
                a {
                    text-transform: uppercase; font-size: 15px;
                    padding: 5px 0;
                    display: inline-block
                }
            }
        }
    }
    
    
    .copy_rights {
        padding: 40px 0;
        .sec_right {
            p {
                margin: 0; 
                font-size: 16px;
            }
        }
    }
    
}



@media (max-width:991px) {
    
    .copy_rights {
        text-align: center
    }
    
    .footer_sec .footer_nav  {
        margin-bottom: 20px
    }
    
}


@media (max-width:767px) {
    
    .footer_sec .footer_main {
        text-align: center
    }
    .footer_sec .footer_contact_info ul li i {
        position: static;  display: block; margin-bottom: 15px
    }
    
    .footer_sec .footer_contact_info ul li {
        padding: 0; margin-bottom: 30px; 
         
    }
    
}

@media (max-width:575px) {
    
    .footer_sec .footer_main {
       border-top: 0; margin: 0; padding-bottom: 0px
    }
   
    .footer_sec .footer_logo img {
        width: 150px
    }
}






.modal_style {
    .modal-body {
        padding: 0  ; position: relative;
        display: flex; flex-wrap: wrap; 
        
        .modal_left {
            width: 35%; 
            
            position: relative;
            z-index: 1;
            border-radius: 8px 0 0 8px  ;
            >div {
                position: absolute; 
                left: 0; top: 0;
                width: 100%; height: 100%;
                background: url("../images/form-image.webp") no-repeat  ;
            background-position: center bottom;
            background-size: 270px; 
            }
            
             &:before {
        content: "";
         width: 55%;
        height: 100%;
        background: $themecolor;
 
        position: absolute; 
                    left: 50%;
                 transform: translateX(-50%);
    top: 0;
                 z-index: -1; 
    }
       
           
        }
         .modal_right {
            width: 65%; 
             position: relative; 
             padding: 60px 50px 60px 40px;
             border-radius: 0 8px 8px 0;
          
        }
        
        .btn-close {
        position: absolute; right: 15px; top: 15px; outline: none; 
            border: 0; box-shadow: none; z-index: 10;
            background: none; width: 40px; height: 40px;
            svg {
                stroke:#fff ; width: 30px; height: 30px
            }
        }
    }
    
  
    .modal-content {
       background-image: linear-gradient(to right bottom, #133D81, #1C56BA); 
          border: 0; border-radius: 30px;
        overflow: hidden; position: relative;
        z-index: 1;
        
        &:before {
              content: "";
         width: 100%;
        height: 100%;
        background: url("../images/form-bg.svg") no-repeat center ;
        background-size: cover;
        position: absolute; left: 0; top: 0; 
            z-index: -1
        }
    }
    
    
    .form_sec {
        padding: 0; box-shadow: none; background: transparent;
         .form_inr {
        background: #fff;
             padding: 30px
    }
       
    }
    
    .form_sec .title_row {
        margin-bottom: 20px;
    }
    .form_sec .title_row .site_title {
        font-size: 36px;  font-weight: bold;
        color: #fff; margin-bottom: 5px; 
    }
    .form_sec .title_row p {
        color: #fff; font-size: 18px; 
        font-family: $primary_font
    }
    
    
}


.placeholder_style input::-webkit-input-placeholder
{
    color: #757575;    
}
.placeholder_style input::-moz-placeholder {  
    color: #757575;   } 

.placeholder_style input:-ms-input-placeholder {
    color:#757575;    }

.form_sec {
 
    
    .form-group {
        margin-bottom: 15px
    }
    
    .form-label {
        color: #133C80; font-size: 16px;
        margin: 0; line-height: 0;
    }
    .form-control {
      
        border: 1px solid $themecolor;
        height: 60px;
        border-radius: 10px;
        padding: 0 15px; box-shadow: none; outline: none;
        font-size: 18px; color: $text_color;
        
        &:focus {
            box-shadow: none; outline: none; border-color:$themecolor
        }
        
    }
    
    .theme_btn {
        outline: none; border: 0; font-size: 18px; font-weight: 400
    }
}

.modal-backdrop.show {
    opacity: .8
}

@media (min-width:992px) {
    .modal_style .modal-dialog {
        max-width: calc(100% - 20px)
    }
}

@media (min-width:1050px) {
    .modal_style .modal-dialog {
        max-width: 1020px
    }
}


@media (max-width:991px) {
    .modal_style .modal-body .modal_left {
        width: 100%
    }
    .modal_style .modal-body .modal_right {
        width: 100%
    }
    .modal_style .modal-content:before {
        display: none
    }
    
    .modal_style .modal-body .modal_left>div {
        background-size: 155px
    }
    .modal_style .modal-body .modal_left {
        height: 300px; 
        background: #456BAA
    }
    .modal_style .modal-body .modal_left:before {
        width: 35%
    }
    .modal_style .modal-body .modal_right {
        padding: 50px 50px 60px
    }
    
    .modal_style .form_sec .title_row  {
        text-align: center
    }
}



@media (max-width:575px) {
    
    .modal_style .form_sec .title_row .site_title {
        font-size: 30px
    }
    
     .modal_style .form_sec .title_row p {
        font-size: 16px
    }
    
    .modal_style .modal-body .modal_right {
        padding: 40px 25px 50px
    }
}


.for_select_2 {
    .select2-container--default .select2-results > .select2-results__options {
        font-size: 18px
    }
    
    .select2-container--default .select2-selection--single {
         border-color: $themecolor;
        height: 60px; border-radius: 10px;
        background: transparent;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 60px; color: $text_color; font-size: 18px;
        padding-left: 15px; padding-right: 40px
    }
    
    .select2.select2-container {
    width: 100% !important;
}
    
    .select2-dropdown {
        z-index: 10000
    }
    .select2-results__option {
        padding: 8px 15px
    }
    
}



.for_select_2.select_line_style {
    
    .select2-container--default .select2-selection--single {
        border-top: 0; border-left: 0; border-right: 0;
        border-bottom: 1px solid #133C80;
        height: 37px; border-radius: 0
    }
    
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 0; line-height: 36px;
        font-size: 16px; color: $text_color;
    }
}


.select2_arrow_style {
    .select2-container--default .select2-selection--single .select2-selection__arrow:after {
        content: "";
        width: 0.8125rem;
    height: 0.8125rem;
        display: inline-block;
    background-position: 50%;
    background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b[role=presentation] {
        display: none
    }
    
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 50%; right: 15px;
        transform: translateY(-50%);
        width: auto; height: auto ; line-height: 2px
    }
    
}



.sap_programs {
    padding: 0px 0 80px;  margin-top: -20px;
    
    .title_row {
        margin-bottom: 50px
    }
}

.sap_program_item {
    
    overflow: hidden ; border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: 0 3px 25px rgba(0,0,0,0.25);
    border: 1px solid $themecolor;
    
    .comn_img_block {
        padding-bottom: calc((130 / 200) * 100%);
    }
    
    .content_area {
        background-image: linear-gradient(to bottom right, $themecolor, $primary_color);
        padding: 25px 20px 30px;
        text-align: center;
        min-height: 206px;
        position: relative;
        
        .pgm_title {
            font-weight:600 ; color: #fff; font-size: 30px;
        }
        
        .basic_info {
            ul {
                li {
                    font-size: 15px; color: #fff;
                    font-weight: 300;
                    
                    &:first-child {
                        font-size: 18px; 
                    }
                }
            }
        }
        .pgm_count {
            position: absolute; left: 15px; top: -15px;
            text-transform: uppercase;
            line-height: 1; font-size: 15px;
            color: #fff;
            padding: 6px 15px;
            border-radius: 30px;
            background-image: linear-gradient(to bottom, #5A52A8, #6A3891 )
        }
    }
    
}



@media (max-width:575px) {
    .sap_program_item {
        width: 382px; margin-left: auto; margin-right: auto; max-width: 100%
    }
    
    .sap_programs {
       padding-bottom: 30px
    }
    .sap_programs .title_row {
        margin-bottom: 40px
    }
    .sap_program_item .content_area .pgm_title {
        font-size: 26px
    }
    .sap_program_item .content_area {
        min-height: auto
            
    }
}




.video_sec {
    
    padding: 60px 0 60px;
    
    position: relative; z-index: 1;
    overflow: hidden;
    
   
    
    
    .sec_in {
        padding-left: 120px
    }
    .title_row {
        .site_title {
            margin-bottom: 0
        }
        margin-bottom: 40px;
    }
    .video_item {
        display: block; margin-bottom: 40px;
        overflow: hidden; border-radius: 30px;
        border:1px solid $themecolor;
        //box-shadow: 0 10px 30px rgba(0,0,0,0.15);
        box-shadow: 0 30px 25px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
        background: #fff;
        
        .comn_img_block {
          padding-bottom: calc((120 / 200) * 100%);  
        }
        .content {
            padding: 30px 30px; position: relative;
            h4 {
                font-size: 30px; color: #545454; margin: 0;
                font-weight: 700;
            }
            p {
                font-size: 20px; margin: 0
            }
            
            .play_btn{
                width: 80px; height: 80px;
                border-radius: 50%;
                background: $themecolor;
                text-align: center;
                line-height: 80px;
                position: absolute; top: -50px; right: 20px;
                color: #fff; font-size: 36px; display: block;
                
                i {
                    position: relative; left: 2px
                }
            }
            
            .vmint {
               display: inline-block;
                padding: 5px 15px 6px;
                background: $themecolor;
                color: #fff; font-size: 16px; 
                text-transform: uppercase;
                font-weight: 600; 
                border-radius: 20px;
                position: absolute;  bottom: 20px; right: 20px;
                i {
                    margin-right: 7px
                }
                
            }
        }
    }
    
     .sap_vertical {
        z-index: -1;
        position: absolute; left: 3%; top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        img {
            width: 120px
        }
    }
}


@media (min-width:1400px) {
    .video_sec .sec_in {
      padding-left: 140px
    }
   
}



@media (min-width:1600px) {
    .video_sec .sap_vertical img {
        width: 198px
    }
   
}

@media (min-width:1740px) {
   
    .video_sec .sap_vertical {
        left: 6%
    }
}




@media (max-width:1199px) {
   
    .video_sec .video_item .content h4 {
        font-size: 24px
    }
}



@media (max-width:575px) {
   
    .video_sec .sec_in {
        padding: 0
    }
    .video_sec .sap_vertical {
        display: none
    }
    
    .video_sec .title_row {
        text-align: center
    }
    .video_sec 
    {
        padding: 30px 0 20px
    }
    
    .video_sec .video_item .content .vmint {
        font-size: 14px
    }
    
    .video_sec .video_item .content .play_btn {
        width: 60px; height: 60px;
        line-height: 60px; font-size: 30px; top: -37px
    }
    
    .video_sec .video_item .content {
        padding-left: 20px; padding-right: 20px
    }
}









